<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="TGis.RemoteService.ServiceImpl">
        <endpoint address="net.tcp://localhost:9120/TGisService/100"
          binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="TGis.RemoteContract.IGisServiceAblity" />
        <endpoint address="http://localhost:9121/HttpTGis" binding="wsHttpBinding"
          bindingConfiguration="" contract="TGis.RemoteContract.IGisServiceAblity" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9122/" />
            <add baseAddress="net.tcp://localhost:9123/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>